<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=C1; Database= bankUser; Trusted_Connection = True;" name="userConnectionString" />
    <add connectionString="host= localhost:5672;" name="transportConnection" />
  </connectionStrings>

  <appSettings>
    <add key="SchemaName"
        value="nsb" />
    <add key="TablePrefix"
        value="User" />
    <add key="AuditQueue"
         value="audit" />
    <add key="TimeToBeReceived"
         value="00:10:00" />
  </appSettings>
</configuration>