<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localRabbitmqConnectionString" connectionString="host = localhost:5672" />

    <add name="userConnectionString" connectionString="Server=C1; Database= user; Trusted_Connection = True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SchemaName" value="nsb"/>
    <add key="TablePrefix" value="User"/>

    <add key="AuditQueue"
        value="AuditQueue" />
    <add key="TimeToBeReceived"
         value="00:02:00" />
    <add key="TransferEndPoint"
     value="Bank.Transfer" />
    <add key="TrackingEndPoint"
     value="Bank.Tracking" />
  </appSettings>
</configuration>