<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost\MSSQLSERVER01; Database= bankTransfer; Trusted_Connection = True;" name="userConnectionString" />
    <add connectionString="host= localhost:5672;" name="transportConnection" />
  </connectionStrings>

  <appSettings>
    <add key="AuditQueue"
         value="audit" />
    <add key="TimeToBeReceived"
         value="00:10:00" />
    <add key="ServiceControlQueue"
 value="Particular.Servicecontrol" />
    <add key="TransferEndpoint"
     value="Bank.Transfer" />

  </appSettings>
</configuration>