<h2>Register</h2>
<form *ngIf="isVisibleVertificationForm" [formGroup]="verificationForm" (ngSubmit)="onVertificationSubmit()">

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': verificationSubmitted && verificationFormControls.email.errors }" />
        <!-- <div *ngIf="verificationSubmitted && verificationFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="verificationFormControls.email.errors.required">Email is required</div>
        </div> -->
        <div *ngIf="verificationSubmitted && verificationFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="verificationFormControls.email.errors.pattern">Email is invalid</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="verificationLoading" class="btn btn-primary">
            <span *ngIf="verificationLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Send me verification code
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>

</form>
<form *ngIf="isVisibleRegistrationForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

    <div class="form-group">
        <label for="verificationCode">Vertification Code</label>
        <input type="text" formControlName="verificationCode" class="form-control"
            [ngClass]="{ 'is-invalid': registerationSubmitted && registerFormControls.email.errors }" />
        <div *ngIf="registerationSubmitted && registerFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.email.errors.required">Vertification Code is required</div>
        </div>
        <!-- <div *ngIf="registerationSubmitted && registerFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.email.errors.pattern">Email is invalid</div>
        </div> -->
    </div>
    <div class="form-group">
        <button (click)="showVertificationForm()" class="btn btn-primary">
            Resend Vertification Code
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': registerationSubmitted && registerFormControls.firstName.errors }" />
        <div *ngIf="registerationSubmitted && registerFormControls.firstName.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.firstName.errors.required"> First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': registerationSubmitted && registerFormControls.lastName.errors }" />
        <div *ngIf="registerationSubmitted && registerFormControls.lastName.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': registerationSubmitted && registerFormControls.email.errors }" />
        <div *ngIf="registerationSubmitted && registerFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.email.errors.required">Email is required</div>
        </div>
        <div *ngIf="registerationSubmitted && registerFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="registerFormControls.email.errors.pattern">Email is invalid</div>
        </div>
    </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': registerationSubmitted && registerFormControls.password.errors }" />
            <div *ngIf="registerationSubmitted && registerFormControls.password.errors" class="invalid-feedback">
                <div *ngIf="registerFormControls.password.errors.required">Password is required</div>
                <div *ngIf="registerFormControls.password.errors.minlength">Password should contain at least 6
                    characters.</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="registrationLoading" class="btn btn-primary">
                <span *ngIf="registrationLoading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
        </div>
</form>