
<form *ngIf="isVisibleVertificationForm" [formGroup]="verificationForm" (ngSubmit)="onVerificationSubmit()">
    <div class="form-group">
        <label for="email">Enter your Email address</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': verificationSubmitted && verificationFormControls.email.errors }" />
        <div *ngIf="verificationSubmitted && verificationFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="verificationFormControls.email.errors.required">Email is required</div>
        </div>
        <div *ngIf="verificationSubmitted && verificationFormControls.email.errors" class="invalid-feedback">
            <div *ngIf="verificationFormControls.email.errors.pattern"> Email is invalid</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="verificationLoading" class="btn btn-primary">
            <span *ngIf="verificationLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Send me verification code
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
<form *ngIf="isVisibleRegistrationForm" [formGroup]="registrationForm" (ngSubmit)="onRegisterSubmit()">
    <div class="form-group">
        <label for="verificationCode">Verification Code</label>
        <input type="text" formControlName="verificationCode" class="form-control"
            [ngClass]="{ 'is-invalid': registrationSubmitted && registrationFormControls.verificationCode.errors }" />
        <div *ngIf="registrationSubmitted && registrationFormControls.verificationCode.errors" class="invalid-feedback">
            <div *ngIf="registrationFormControls.verificationCode.errors.required">Verification Code is required</div>
        </div>
    </div>
    <div class="form-group">
        <button (click)="showVerificationForm()" class="btn btn-link">
            Resend Verification Code
        </button>
        
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': registrationSubmitted && registrationFormControls.firstName.errors }" />
        <div *ngIf="registrationSubmitted && registrationFormControls.firstName.errors" class="invalid-feedback">
            <div *ngIf="registrationFormControls.firstName.errors.required"> First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': registrationSubmitted && registrationFormControls.lastName.errors }" />
        <div *ngIf="registrationSubmitted && registrationFormControls.lastName.errors" class="invalid-feedback">
            <div *ngIf="registrationFormControls.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': registrationSubmitted && registrationFormControls.password.errors }" />
            <div *ngIf="registrationSubmitted && registrationFormControls.password.errors" class="invalid-feedback">
                <div *ngIf="registrationFormControls.password.errors.required">Password is required</div>
                <div *ngIf="registrationFormControls.password.errors.minlength">Password should contain at least 6
                    characters.</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="registrationLoading" class="btn btn-primary">
                <span *ngIf="registrationLoading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
        </div>
</form>