.resend-code-btn{
    font-size: 12px;
}
.register-containor{
    background-color: lightblue;
}
.cancel-btn{
    font-size: 12px;
    text-decoration: underline;
}
.register-form{
    background-color: lightblue;
}
.registration-form-msg{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}
.registration-msg{
    font-size: 10px;
}