<p>operations-history works!</p>
<mat-form-field>
    <input matInput class="dc-search" placeholder="Search" (keyup)="filterSubject.next($event.target.value)">
</mat-form-field>

<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort matSortDisableClear="true" [matSortActive]="defaultSort.active"
        [matSortDirection]="defaultSort.direction">

        <ng-container matColumnDef="transactionId">
            <mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Transaction Id</mat-header-cell>
            <mat-cell class="dc-content" *matCellDef="let row">{{row.transactionId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="operationTime">
            <mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Operation Time</mat-header-cell>
            <mat-cell class="dc-content" *matCellDef="let row">{{row.operationTime | date:'short'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="transactionAmount">
            <mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Transaction Amount</mat-header-cell>
            <mat-cell class="dc-content" *matCellDef="let row"> {{row.transactionAmount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="balance">
            <mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Balance After Operation</mat-header-cell>
            <mat-cell class="dc-content" *matCellDef="let row">{{row.balance}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="IsCredit">
            <mat-header-cell class="dc-label" *matHeaderCellDef >Transaction Direction</mat-header-cell>
            <mat-cell class="dc-content" *matCellDef="let row">{{row.isCredit}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnHeaders"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnHeaders;" (click)="selectRow(row)"> </mat-row>

    </mat-table>

    <mat-paginator [length]="operationTotal" [pageSize]="2" [pageSizeOptions]="[1,2, 5, 10]"></mat-paginator>

</div>
 <!-- <div>
<ng-template #mytemplate>
<h2>Src Accoutn ID = {{currentRowTransfer.srcAccountId}}</h2>
<h2>Dest Account ID = {{currentRowTransfer.destAccountId}}</h2>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
</ng-template>
</div>  -->